.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.custom-info-window {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    /*border: 1px solid white;*/
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 200px;
    margin-top: -173px;
    margin-left: -100px;
}

.custom-info-window a {
    color: white;
    text-decoration: underline;
}

.custom-info-window:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0px 15px;
    border-color: rgba(0, 0, 0, 0.5) transparent;
    display: block;
    width: 0;
    z-index: 10;
    top: 120px;
    left: 89px;
}

.custom-info-window > img {
    display: none;
}

#circle1 {
    border: 2px solid red;
    background: #fff;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    color: black;
    font-size: 11px;
    font-weight: bold;
    width: 33.33%;
    float: left
}

#circle2 {
    border: 2px solid blue;
    background: #fff;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    color: black;
    font-size: 11px;
    font-weight: bold;
    width: 33.33%;
    float: left
}

#circle3 {
    border: 2px solid #800080;
    background: #fff;
    width: 40px;
    height: 50px;
    border-radius: 50%;
    color: black;
    font-size: 11px;
    font-weight: bold;
    width: 33.33%;
    float: left
}

#silver-pack-badge {
    border: 2px;
    border-radius: 25px;
}

.graphics {
    position: absolute;
    top:0px;
    z-index: 100;
    border-radius: 4px;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    -webkit-box-shadow: 10px 13px 41px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 13px 41px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 13px 41px -3px rgba(0, 0, 0, 0.75);
    color: #31708F;
}

.addBiz {
    z-index: 100;
    border-radius: 4px;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    -webkit-box-shadow: 10px 13px 41px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 13px 41px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 13px 41px -3px rgba(0, 0, 0, 0.75);
    color: #31708F;
}