<div class="col-md-4 graphics1 col-md-offset-4" style="margin-top: 50px;text-align: center">
    <img src="images/right.png" style="width: 100px;">

    <div class="col-md-12">
        <span style="font-size: 50px;margin-top: 200px;"> Almost There! </span>
    </div>
    <h1 style="margin-top: 20px;font-size:40px;padding: 10px 100px">Club Violet was successfully added.</h1>

    <h2 style="padding: 10px 100px">Now, turn on your device to proceed with the verification and associate it to Club
        Violet.</h2>

    <button class="btn-lg btn-default col-md-10 col-md-offset-1">VERIFY DEVICE</button>
    <div class="col-md-12">
        <span style="font-size:20px;">Waiting for Device to come online</span>
    </div>
    <div class="col-md-12">
        <br><a href="#" style="margin-top: 20px;text-decoration: underline ; font-size: 25px">I will do this later</a>
    </div>
</div>

