<div class="col-md-4 col-md-offset-4" style="background: #ffffff;height: 500px;text-align: center">
    <div class="col-md-12">
        <h1> Sign In </h1>
    </div>
    <div class="col-md-12 form-group">
        <input class="form-control" placeholder="Username or Email Address" type="email" name="session[email]">
    </div>
    <div class="col-md-12 form-group">
        <input class="form-control" placeholder="Username or Email Address" type="email" name="session[email]">
    </div>
    <div class="col-md-12">
      <button class="btn btn-default form-control"> SIGN IN </button>
    </div>
    <div class="col-md-12">
       <h3> Don’t Have an Account? Sign Up </h3>
    </div>
</div>
