<div class = "col-md-4 graphics">

<form ng-submit = "submit()">
  <div class = "col-md-12">
<span> ADD NEW BUSINESS </span>
</div>
<div class = "col-md-12">
<input type="text" class = "form-group form-control" ng-model = "BusinessName" id="Business-name" placeholder = "Business Name">
</div>
<div class = "col-md-12">
  <select class = "form-control form-group" ng-model = "BusinessType">
    <option value = "Bar">Bar</option>
    <option value = "Pub">Pub</option>
    <option value = "Church">Church</option>
    </select>
</div>
<div class = "col-md-12">
<br><input type = "text" class = "form-group form-control" ng-model = "Address" placeholder = "Address">
</div>
<div class = "col-md-12">
<br><input type = "text" class = "form-group form-control" ng-model = "City" placeholder = "City">
</div>
<div class = "col-md-12">
<br><input type = "text" class = "form-group form-control" ng-model = "ZIP" placeholder = "ZIP">
</div>
<div class = "col-md-12">
<br><input type = "text" class = "form-group form-control" ng-model = "PhoneNo" placeholder = "Phone No.">
</div>
<div class = "col-md-12">
<br><input type = "text" class = "form-group form-control" ng-model = "DeviceId" placeholder = "Enter device ID">
</div>

<div class = "col-md-12">
<br><input type = "text" ng-model = "FbUrl" class = "form-group form-control" placeholder = "Facebook Page URL">
</div>
<div class = "col-md-12">
<br><input type = "submit" class = "btn btn-info btn-block">
</div>
</form>
</div>
