<div class="col-md-3" style="background: #f2f2f2;">

    <div class="profile-sidebar">
        <div>
            <img src="images/profile.jpeg" width="100%;">
        </div>
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
            <ul class="nav">
                <li class="active">
                    <a href="/#/overView">
                        <!--<i class="glyphicon glyphicon-home"></i>-->
                        Overview </a>
                </li>
                <li style="padding: 5px 0px 5px 15px;background: #f2f2f2;font-weight: bold;color: #000000">
                    <span >  PEOPLE </span>
                </li>
                <li>
                    <a href="/#/dailyTrends">
                        Daily Trends </a>
                </li>
                <li>
                    <a href="/#/promotions" >
                        Promotions </a>
                </li>
                <li>
                    <a href="/#/abandonment">
                        Abandonment </a>
                </li>
                <li style="padding: 5px 0px 5px 15px;background: #f2f2f2;font-weight: bold;color: #000000">
                    <span >  VEHICLES </span>
                </li>
                <li>
                    <a href="">
                        Daily Trends </a>
                </li>
                <li style="padding: 5px 0px 5px 15px;background: #f2f2f2;font-weight: bold;color: #000000">
                    <span >  VEHICLES </span>
                </li>
                <li>
                    <a href="">
                        Daily Trends </a>
                </li>
                <li style="padding: 5px 0px 5px 15px;background: #f2f2f2;font-weight: bold;color: #000000">
                    <span >  COUNTERS </span>
                </li>
                <li>
                    <a href="/#/counterName">
                        Counter Name 01
                    </a>
                </li>
                <li>
                    <a href="">
                        Counter Name 02
                    </a>
                </li>
                <li style="padding: 5px 0px 5px 38px;background: #f2f2f2;font-weight: bold;color: #000000">
                    <!--<span >  COUNTERS </span>-->
                </li>
                <li>
                    <a href="/#/counterConfiguration">
                        Counter Configuration </a>
                </li>
            </ul>
        </div>
        <!-- END MENU -->
    </div>
</div>