<table class="table borderless">
    <thead style="border-bottom: 1px dashed #808080">
    <tr>
        <th>DATE</th>
        <th>TOTAL </th>
        <th>COUNTER LABEL 01</th>
        <th>COUNTER LABEL 02</th>

    </tr>
    </thead>

    <tbody>
    <tr class=" ">
        <td>dd.mm.yyyy</td>
        <td>302</td>
        <td>230</td>
        <td>235</td>

    </tr>

    <tr class="info">

        <td>dd.mm.yyyy</td>
        <td>302</td>
        <td>230</td>
        <td>235</td>


    </tr>

    <tr class=" ">

        <td>dd.mm.yyyy</td>
        <td>302</td>
        <td>230</td>
        <td>235</td>

    </tr>

    <tr class="info">

        <td>dd.mm.yyyy</td>
        <td>302</td>
        <td>230</td>
        <td>235</td>

    </tr>

    <tr class=" ">

        <td>dd.mm.yyyy</td>
        <td>302</td>
        <td>230</td>
        <td>235</td>

    </tr>

    </tbody>

</table>

