<table class="table borderless">
    <thead style="border-bottom: 1px dashed #808080">
    <tr>
        <th>DATE</th>
        <th>PROMOTIONS</th>
        <th>TOTAL </th>
        <th>MALE </th>
        <th>FEMALE </th>
        <th>SALE </th>
        <th>TRANSACTIONS  </th>
        <th>ABANDONMENT </th>
        <th>REVENUE / VISITOR </th>
    </tr>
    </thead>

    <tbody>
    <tr class=" ">
        <td>dd.mm.yyyy</td>

        <td><a>Add Promo</a></td>

        <td>302</td>
        <td>230</td>
        <td>235</td>
        <td><input type="text" value="$"></td>
        <td><input type="text" value="999"></td>
        <td>00%</td>
        <td>$999</td>
    </tr>

    <tr class="info">

        <td>dd.mm.yyyy</td>

        <td><a>Add Promo</a></td>

        <td>302</td>
        <td>230</td>
        <td>235</td>
        <td><input type="text" value="$"></td>
        <td><input type="text" value="999"></td>
        <td>00%</td>
        <td>$999</td>

    </tr>

    <tr class=" ">

        <td>dd.mm.yyyy</td>

        <td><a>Add Promo</a></td>

        <td>302</td>
        <td>230</td>
        <td>235</td>
        <td><input type="text" value="$"></td>
        <td><input type="text" value="999"></td>
        <td>00%</td>
        <td>$999</td>

    </tr>

    <tr class="info">

        <td>dd.mm.yyyy</td>

        <td><a>Add Promo</a></td>

        <td>302</td>
        <td>230</td>
        <td>235</td>
        <td><input type="text" value="$"></td>
        <td><input type="text" value="999"></td>
        <td>00%</td>
        <td>$999</td>

    </tr>

    <tr class=" ">

        <td>dd.mm.yyyy</td>

        <td><a>Add Promo</a></td>

        <td>302</td>
        <td>230</td>
        <td>235</td>
        <td><input type="text" value="$"></td>
        <td><input type="text" value="999"></td>
        <td>00%</td>
        <td>$999</td>

    </tr>

    </tbody>

</table>

