<table class="table borderless">
    <thead style="border-bottom: 1px dashed #808080">
    <tr>
        <th>PROMOTION NAME</th>
        <th>START DATE</th>
        <th>TOTAL</th>
        <th>MALE</th>
        <th>FEMALE</th>
    </tr>
    </thead>

    <tbody>
    <tr class=" ">
        <td>Lorem Ipsum Dolor</td>
        <td>dd.mm.yyyy hh:mm</td>
        <td>134</td>
        <td>66</td>
        <td><i class="glyphicon glyphicon-edit"></i></td>
        <td><i class="glyphicon glyphicon-remove"></i></td>
    </tr>

    <tr class="info">
        <td>Lorem Ipsum Dolor</td>
        <td>dd.mm.yyyy hh:mm</td>
        <td>134</td>
        <td>66</td>
        <td><i class="glyphicon glyphicon-edit"></i></td>
        <td><i class="glyphicon glyphicon-remove"></i></td>
    </tr>

    <tr class=" ">
        <td>Lorem Ipsum Dolor</td>
        <td>dd.mm.yyyy hh:mm</td>
        <td>134</td>
        <td>66</td>
        <td><i class="glyphicon glyphicon-edit"></i></td>
        <td><i class="glyphicon glyphicon-remove"></i></td>
    </tr>

    <tr class="info">
        <td>Lorem Ipsum Dolor</td>
        <td>dd.mm.yyyy hh:mm</td>
        <td>134</td>
        <td>66</td>
        <td><i class="glyphicon glyphicon-edit"></i></td>
        <td><i class="glyphicon glyphicon-remove"></i></td>
    </tr>

    <tr class=" ">
        <td>Lorem Ipsum Dolor</td>
        <td>dd.mm.yyyy hh:mm</td>
        <td>134</td>
        <td>66</td>
        <td><i class="glyphicon glyphicon-edit"></i></td>
        <td><i class="glyphicon glyphicon-remove"></i></td>
    </tr>
    </tbody>
</table>

