<div class="row">
    <div ng-include="'views/template/businessDetail/businessSidebar.html'"></div>
    <div class="col-md-9" style="background: #f2f2f2;">
        <div class="col-md-12">
            <h2>Counter Configuration </h2>
        </div>

        <div class="col-md-4">
            <div style="background: #ffffff;padding: 20px;">
                <span style="font-weight: bold">DETAILS</span> <span class="pull-right" style="margin-left: 20px;"><i
                    class="glyphicon glyphicon-trash"></i></span> <span class="pull-right"><i
                    class="glyphicon glyphicon-pencil"></i></span><br>
                COUNTER NAME Lorem Ipsum<br>
                COUNTER ID 9-0956056<br>
                COUNTER TYPE Watch<br>

                <div style="font-weight: bold;margin-top: 20px;">
                    CATEGORY<br>
                </div>

                People<br>

                <div style="font-weight: bold;margin-top: 20px;">
                    LABELS<br>
                </div>
                LABEL 1 Lorem Ipsum Dolor<br>
                LABEL 2 Lorem Ipsum Dolor<br>
                LABEL 3 Lorem Ipsum Dolor<br>
                LABEL 4 Lorem Ipsum Dolor<br>

                <div style="font-weight: bold;margin-top: 20px;">
                    TRACKING WHAT<br>
                </div>
                ATTENDANCE<br>

                <div style="font-weight: bold;margin-top: 20px;">
                    MAX CAPACITY<br>
                </div>
                3500<br>

                <div style="font-weight: bold;margin-top: 20px;">
                    RESETS AT<br>
                </div>
                00:00<br>


            </div>

        </div>
        <div class="col-md-4">
            <div style="background: #ffffff;padding: 20px;">
                <span style="font-weight: bold">DETAILS</span> <span class="pull-right" style="margin-left: 20px;"><i
                    class="glyphicon glyphicon-trash"></i></span> <span class="pull-right"><i
                    class="glyphicon glyphicon-pencil"></i></span><br>
                COUNTER NAME Lorem Ipsum<br>
                COUNTER ID 9-0956056<br>
                COUNTER TYPE Watch<br>

                <div style="font-weight: bold;margin-top: 20px;">
                    CATEGORY<br>
                </div>

                People<br>

                <div style="font-weight: bold;margin-top: 20px;">
                    LABELS<br>
                </div>
                LABEL 1 Lorem Ipsum Dolor<br>
                LABEL 2 Lorem Ipsum Dolor<br>
                LABEL 3 Lorem Ipsum Dolor<br>
                LABEL 4 Lorem Ipsum Dolor<br>

                <div style="font-weight: bold;margin-top: 20px;">
                    TRACKING WHAT<br>
                </div>
                ATTENDANCE<br>

                <div style="font-weight: bold;margin-top: 20px;">
                    MAX CAPACITY<br>
                </div>
                3500<br>

                <div style="font-weight: bold;margin-top: 20px;">
                    RESETS AT<br>
                </div>
                00:00<br>


            </div>

        </div>

    </div>
</div>