<div class="angular-google-map-container">

    <ui-gmap-google-map  center="map.center" zoom="map.zoom" dragging="map.dragging" draggable="true" control="map.control"  >
        <ui-gmap-markers models="map.markers"  coords="'self'" icon="'{https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png}'" fit="true">
            <ui-gmap-windows  show="'showWindow'" options="'options'" >
                <div ng-non-bindable >
                    <p class="text-center" style="font-size: 15px;;font-weight: bold;">Austin</p>
                    <div style="width: 100%">
                    <div id="circle1">
                        <div class="text-center" style="margin-top: 10px;">{{men}}</div>
                        <div class="text-center" style="margin-top: 0px;">Men</div>
                    </div>
                    <div id="circle2">
                        <div class="text-center" style="margin-top: 10px;">{{women}}</div>
                        <div class="text-center" style="margin-top: 0px;">Women</div>
                    </div>
                    <div id="circle3">
                        <div class="text-center" style="margin-top: 10px;">200</div>
                        <div class="text-center" style="margin-top: 0px;">Products</div>
                    </div>
                    </div>
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>

        <!--<ui-gmap-window show="map.infoWindow.show" coords="map.infoWindow.coords" isIconVisibleOnClick="false" options="map.infoWindow.options"  ng-cloak>-->
            <!--<div>-->
                <!--<h5>This is an info window at {{ map.infoWindow.coords.latitude | number:4 }}, {{ map.infoWindow.coords.longitude | number:4 }}!</h5>-->
            <!--</div>-->
        <!--</ui-gmap-window>-->

    </ui-gmap-google-map>

</div>


